body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
}

.map {
  height: 100%;
}

.login-form {
  z-index: 999;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 400px;
  width: 16.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-form:hover {
  box-shadow: 1px 1px 2px black, 0 0 25px teal, 0 0 5px teal;
}

.login-form-failed {
  z-index: 999;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 460px;
  width: 16.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup-form {
  z-index: 2000;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 100px;
  width: 850px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signout {
  z-index: 999;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 10.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.alert-button {
  text-align: center;
  right: 2px;
  margin-top: 10px;
  width: 12rem;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.error-text {
  font-size: 24px;
  color: red;
  background-color: white;
}

.profile-card {
  word-wrap: break-word;
}

.popup-style {
  background-color: black;
  text-align: center;
  font-size: 15px;

}


